@model FreelancerJerry.Models.Customer

<h2>Register</h2>
<form asp-action="Register" method="post">
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <label asp-for="FirstName" class="control-label col-md-2"></label>
        <div class="col-md-10">
            <input class="form-control" asp-for="FirstName" required/>
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <label asp-for="LastName" class="control-label col-md-2"></label>
        <div class="col-md-10">
            <input class="form-control" asp-for="LastName" required/>
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <label asp-for="Email" class="control-label col-md-2"></label>
        <div class="col-md-10">
            <input class="form-control" asp-for="Email" required/>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <label asp-for="Password" class="control-label col-md-2"></label>
        <div class="col-md-10">
            <input class="form-control" asp-for="Password" required/>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <label asp-for="ConfirmPassword" class="control-label"></label>
        <div class="col-md-10">
            <input class="form-control" asp-for="ConfirmPassword" required/>
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>
    <br/>
    <button type="submit" class="btn btn-success">Register</button>
</form>
<br/>
    <p style="color: red;">
        @{
            @ViewData["PasswordError"];
        }       
    </p>
